@model IEnumerable<TestTask.Models.Item>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "CreateItem")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShopID)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Shop.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditItem", new { id = item.Id }) |
                @Html.ActionLink("Details", "DetailsItem", new { id = item.Id }) |
                @Html.ActionLink("Delete", "DeleteItem", new { id = item.Id })
            </td>
        </tr>
    }
        <p>
            @Html.ActionLink("Back to List", "Index")
        </p>
</table>
